__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual environments
.venv/
.env/
env/
venv/

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml

# Django/Poetry artifacts
staticfiles/
media/
poetry.lock
